<h2><%= dgettext("employees", "Edit Employee") %> </h2>

<%= render "form.html", Map.put(assigns, :action, employees_path(@conn, :update, @employees, @positions)) %>

<span><%= link dgettext("layout", "Back"), to: employees_path(@conn, :index) %></span>
