<h2><%= dgettext("employees", "New Employee") %></h2>

<%= render "form.html", Map.put(assigns, :action, employees_path(@conn, :create, @positions)) %>

<span><%= link dgettext("layout", "Back"), to: employees_path(@conn, :index) %></span>
