<h2><%= dgettext("currencies", "Edit Currencies") %></h2>

<%= render "form.html", Map.put(assigns, :action, currencies_path(@conn, :update, @currencies)) %>

<span><%= link dgettext("layout", "Back"), to: currencies_path(@conn, :index) %></span>
