<h2><%= dgettext("users", "Edit User") %></h2>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>

<span><%= link dgettext("layout", "Back"), to: user_path(@conn, :index) %></span>
