<h2><%= dgettext("users", "New User") %></h2>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

<span><%= link dgettext("layout", "Back"), to: user_path(@conn, :index) %></span>
